@charset "utf-8";

body{
  background: linear-gradient(to right, #002762,skyblue);
}
ul{
  list-style: none;
  padding: 0px;
}
a{
  text-decoration: none;
}
header .left{
  float:left;
  padding: 43px  0 0 78px;
}
header a {
  color:white;
}
header .left >div> div,
header .all,
header .close,
header h2{
  display: none;
}
header h1 {
  float:left;
  padding: 0 108px 0 0;
  /* border: 1px solid black; */
}
header .left > div {
  float:left;
}
header .left > div nav li{
  float:left;
  padding:0 30px 0 0;
}

header h1 a {
  display: block;
  width:132px;
  height:50px;
  background: url("../../images/layout.png") no-repeat -170px -70px;
  color:transparent;
}
header nav a{
  font-size: 20px;
  font-weight: bold;
  display: block;
  /* border:1px solid black; */
  height: 50px;
  line-height: 50px;
  position: relative;
}

header nav a:before{
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.5s;
}
header nav a:hover:before{
  width: 100%;
}
header > ul {
  /* position:absolute; */
  /* top:0; */
  /* right: 0; */
  float:right;
  padding: 51px 40px 0 0;
}
header > ul li {
  float:left;
  margin-left: -1px;
}
header > ul li a {
 border: 1px solid rgba(255,255,255,0.5);
 border-radius: 3px;
 display: block;
 width: 96px;
 height: 38px;
 line-height:38px;
 text-align: center;
 font-size: 15px;
}
header > ul li:first-child a{
  border-radius: 3px 0 0 3px;
}
header > ul li:nth-child(2) a{
  border-radius: 0px 3px 3px 0px;
}
header > ul li.join{
  padding-left: 10px;
}
header > ul li.join a {
background:rgba(255,255,255,0.2);
}
.button{
  position: absolute;
  float: right;
}
/* 내용  */
main{
  clear: both;
}
main .a1{
  border: 1px solid black;
  height: 500px;
}